<section class="advantages">
    <div class="container">
        <h1 class="advantages__title title">Преимущества машинной отделки</h1>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <h2 class="advantages__list-item-title">Скорость выполнения работ</h2>
                <p class="advantages__list-item-description">
                    Нанесение штукатурки машинным способом выполняется в 3-4 раза быстрее, чем ручная работа. Производительность может достигать отметки в 150 метров квадратных за смену.
                </p>
            </li>
            <li class="advantages__list-item">
                <h2 class="advantages__list-item-title">
                    Правильная экономия материалов
                </h2>
                <p class="advantages__list-item-description">
                    Автоматизация процесса позволяет избежать неоправданных перерасходов отделочных материалов, которые присутствуют при ручной работе.
                </p>
            </li>
            <li class="advantages__list-item">
                <h2 class="advantages__list-item-title">
                    Улучшенные характеристики поверхности
                </h2>
                <p class="advantages__list-item-description">
                    Подача раствора производится под давлением, благодаря чему смесь проникает во все поры (щели, отверстия, неровности). Это обеспечивает более надежное схватывание с поверхностью, на которую наносится штукатурка, а также исключает сильную усадку отделочного слоя после высыхания.
                </p>
            </li>
            <li class="advantages__list-item">
                <h2 class="advantages__list-item-title">
                    Отсутствие лишней пыли
                </h2>
                <p class="advantages__list-item-description">
                    Штукатурная станция позволяет приготовить качественный раствор (нужной консистенции) и максимально равномерно нанести его на поверхность. В результате чего отделочный слой получается более гладкий (сравним с финишным слоем), без перепадов по толщине, и не требует излишней шлифовки.
                </p>
            </li>
            <li class="advantages__list-item">
                <h2 class="advantages__list-item-title">
                    Комплексный подход
                </h2>
                <p class="advantages__list-item-description">
                    Универсальность штукатурной машинки позволяет быстро и качественно выполнить ремонтно-отделочные работы по принципу «под ключ» – стены, потолок и пол.
                </p>
            </li>
            <li class="advantages__list-item">
                <h2 class="advantages__list-item-title">
                    Гарантия качества
                </h2>
                <p class="advantages__list-item-description">
                    Штукатурная станция – оборудование профессионалов, которые нацелены на результат. Стоимость отделочной машины – непозволительная роскошь для «кустарных мастеров», а ее производительность задает такой темп работы, который под силу только профи своего дела.
                </p>
            </li>
        </ul>
    </div>
</section>