<div class="backdrop" data-modal>
    <div class="modal-window">
          <button type="button" class="modal-window__close-btn" data-modal-close>
              <span class="material-icons">close</span>
          </button>
          <p class="header-phone_title">Наши контакты</p>
          <div class="header-phone_dropdown">
            <ul class="call-button__list list">
              <!-- <li class="header-top__call-item">
                <a class="header-top__call-link link" href="tel:+380671562638"> +38 (067) 156 26 38</a>
              </li> -->
              <li class="call-button__item">
                <a class="call-button__link link" href="tel:+380732228557"> +38 (073) 222 85 57</a>
              </li>
              <li class="call-button__item">
                <a class="call-button__link link" href="tel:+380502228557"> +38 (050) 222 85 57</a>
              </li>
              <li class="call-button__item">
                <a class="call-button__link link" href="tel:+380682228557"> +38 (068) 222 85 57</a>
              </li>
            </ul>
          </div>
          <p class="header-phone_soc">Вы можете написать нам</p>
          <div class="footer__soc">            
            <ul class="footer__soc-list list">
              <li class="footer__soc-item">
                <a class="link-viber link" href="viber://add?number=%2B380671562638">
                  <picture>
                    
                    <source media="(min-width: 768px)" srcset="./images/footer/tablet/viber.png 1x" />
                    <source media="(max-width: 767px)" srcset="./images/footer/mobile/viber.png 1x" />
                    <img class="img-viber" loading="lazy" src="#" alt="значек viber" />
                  </picture>
                </a>
              </li>
              <li class="footer__soc-item">
                <a class="link-telegram link" href="https://t.me/SFERA_N_A">
                  <picture>
                    
                    <source media="(min-width: 768px)" srcset="./images/footer/tablet/telega.png 1x" />
                    <source media="(max-width: 767px)" srcset="./images/footer/mobile/telega.png 1x" />
                    <img class="img-telega" loading="lazy" src="#" alt="значек telega" />
                  </picture>
                </a>
              </li>             
              
            </ul>
          </div>
      </div>
  </div>
  </div>