<section class="feature">
    <div class="container">
        <h1 class="feature__title title">Особенности применения штукатурной станции</h1>
        <div class="feature__content-wrapper">
        <div class="feature__description-wrapper">
            <p class="feature__description">
                Опасаться машинной штукатурки не нужно – опытные штукатуры всегда уделят должное внимание всем деталям, используя оборудование лишь для облегчения и усовершенствования процесса. Механизация отделочных работ не может ухудшить качество: углы будут идеально ровными, слой штукатурки – прочным и долговечным, а поверхность – совершенной. Однако следует помнить, что такое оборудование имеет некоторые нюансы:
                <ul class="feature__list">
                    <li class="feature__list-item">станция работает от электросети (220-380 В);</li>
                    <li class="feature__list-item">как и все агрегаты, оснащенные электродвигателем, машина издает шум (что накладывает ограничения на ее использование в жилых домах в определенное время суток);
                    </li>
                    <li class="feature__list-item">мощную установку не целесообразно эксплуатировать для мелких отделочных работ (поверхность в маленьком помещении на несколько квадратных метров удобнее штукатурить вручную).</li>
                </ul>
            </p>
        </div>
        <div class="feature__button-wrapper">
            <button type="button" class="feature__button">Смотреть видео</button>
        </div>
        <div class="feature__img-wrapper"></div>
    </div>
        
        
    </div>
    
</section>