<footer class="footer">
    <div class="footer-container container">
      <picture>
        <source
            media="(min-width: 1440px)"
            srcset="./images/footer/desktop/logo-footer@1x.webp 1x, ./images/footer/desktop/logo-footer@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="./images/footer/desktop/logo-footer@1x.png 1x, ./images/footer/desktop/logo-footer@2x.png 2x"
          />
          <source
          media="(min-width: 768px)"
          srcset="./images/footer/tablet/logo-footer@1x.webp 1x, ./images/footer/tablet/logo-footer@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/footer/tablet/logo-footer@1x.png 1x, ./images/footer/tablet/logo-footer@2x.png 2x"
        />
        <source
            media="(max-width: 768px)"
            srcset="./images/footer/mobile/logo-footer@1x.webp 1x, ./images/footer/mobile/logo-footer@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="./images/footer/mobile/logo-footer@1x.png 1x, ./images/footer/mobile/logo-footer@2x.png 2x"
          />
        <img class="footer-logo" src="#" alt="Logotip" />
      </picture>
      <div class="footer__all-contacts">
        <div class="footer__contacts_wrapper">
          <div class="footer__contacts">
            <p class="footer__contact-title">Контакты</p>
            <ul class="footer__contact list">
              <!-- <li class="footer__contact-item">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/phone.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/phone.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/phone.png 1x" />
                  <img class="phone" src="#" loading="lazy" alt="значек телефона" />
                </picture>
                <a class="footer__contact-link link link" href="tel:+380671562638">+38 (067) 156 26 38</a>
              </li> -->
              <li class="footer__contact-item">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/phone.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/phone.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/phone.png 1x" />
                  <img class="phone" src="#" loading="lazy" alt="значек телефона" />
                </picture>
                <a href="tel:+380682228557" class="footer__contact-link link"> +38(068) 222 85 57 </a>
              </li>
              <li class="footer__contact-item">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/phone.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/phone.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/phone.png 1x" />
                  <img class="phone" src="#" loading="lazy" alt="значек телефона" />
                </picture>
                <a href="tel:+380732228557" class="footer__contact-link link"> +38(073) 222 85 57 </a>
              </li>
              <li class="footer__contact-item">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/phone.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/phone.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/phone.png 1x" />
                  <img class="phone" src="#" loading="lazy" alt="значек телефона" />
                </picture>
                <a href="tel:+380502228557" class="footer__contact-link link"> +38(050) 222 85 57 </a>
              </li>
              <li class="footer__contact-item">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/mail.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/mail.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/mail.png 1x" />
                  <img class="mail" src="#" loading="lazy" alt="значек почты" />
                </picture>
                <a href="mailto:webnorik@com.ua" class="footer__contact-link link">
                  webnorik@gmail.com
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__work-schedule">
            <p class="footer__schedule-title">График работы</p>
            <ul class="footer__work-schedule list">
              <li class="footer__work-schedule-item">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/clock.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/clock.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/clock.png 1x" />
                  <img class="clock" loading="lazy" src="#" alt="значек часов" />
                </picture>
                <p class="footer__work-time-description">Пн-Пт: 8:00-18:00<br />Сб, Вс: выходной</p>
              </li>
              <li class="footer__work-schedule-item">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="./images/footer/desktop/adress.png 1x"
                  />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/adress.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/adress.png 1x" />
                  <img class="adress" loading="lazy" src="#" alt="значек местоположения" />
                </picture>
                <a class="footer__adress-description link" href="https://go.2gis.com/htagnr" target="_blank" rel="noopener noreferrer">Украина, г.Днепр<br />ул. Колодезная 2А-1</a>
                
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__soc">
          <p class="footer__soc-title">Пишите нам</p>
          <ul class="footer__soc-list list">
            <li class="footer__soc-item">
              <a class="link-viber link" href="viber://add?number=%2B380671562638">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/viber.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/viber.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/viber.png 1x" />
                  <img class="img-viber" loading="lazy" src="#" alt="значек viber" />
                </picture>
              </a>
            </li>
            <li class="footer__soc-item">
              <a class="link-telegram link" href="https://t.me/SFERA_N_A">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="./images/footer/desktop/telega.png 1x"
                  />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/telega.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/telega.png 1x" />
                  <img class="img-telega" loading="lazy" src="#" alt="значек telega" />
                </picture>
              </a>
            </li>
            <li class="footer__soc-item">
              <a class="link-fb link" href="https://www.facebook.com/%D0%9C%D0%B0%D1%88%D0%B8%D0%BD%D0%BD%D0%B0%D1%8F-%D1%88%D1%82%D1%83%D0%BA%D0%B0%D1%82%D1%83%D1%80%D0%BA%D0%B0-100580869198821/">
                <picture>
                  <source media="(min-width: 1440px)" srcset="./images/footer/desktop/fb.png 1x" />
                  <source media="(min-width: 768px)" srcset="./images/footer/tablet/fb.png 1x" />
                  <source media="(max-width: 767px)" srcset="./images/footer/mobile/fb.png 1x" />
                  <img class="img-fb" loading="lazy" src="#" alt="значек фейс бука" />
                </picture>
              </a>
            </li>
            <li class="footer__soc-item">
              <a
                class="link-telegram link"
                href="https://www.instagram.com/sfera.shtukatur/"
                rel="noreferrer noopener"
                target="_blank"
              >
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="./images/footer/desktop/instagram.png 1x"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="./images/footer/tablet/instagram.png 1x"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="./images/footer/mobile/instagram.png 1x"
                  />
                  <img class="img-telega" loading="lazy" src="#" alt="значек telega" />
                </picture>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <p class="copyright">
        &#169 2021 - 2022 все права защищены
      </p>
    </div>
  </footer>