<section class="our-team">
    <div class="container">
        <h1 class="our-team__title">Наша команда</h1>
        <ul class="our-team__team-description">
            <li class="our-team__foto">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="./images/our-team/our-team@1x.webp 1x, ./images/our-team/our-team@2x.webp 2x"
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 1440px)"
                      srcset="./images/our-team/our-team@1x.jpg 1x, ./images/our-team/our-team@2x.jpg 2x"
                    />
                    <img class="header__logo" loading="lazy" src="#" alt="Фото команды сферабуд" />
                  </picture>
            </li>
            <li class="our-team__description">
                <p><b>«СФЕРА БУД»</b> – сплоченная команда профессионалов, всегда работающих на результат. Наши специалисты способны реализовать самые сложные проекты на наивысшем уровне, так как в их арсенале:</p>
                    <ul>
                    <li>отменные теоретические знания штукатурного дела;</li>
                    <li>многолетний опыт работы с объектами различной сложности (от нестандартных помещений до смелых дизайнерских решений);</li>
                    <li>специальное оборудование, в том числе штукатурная станция;</li>
                    <li>качественные материалы (смеси только проверенных производителей);</li>
                    <li>отлаженные методы работы (соблюдение всех технологий с учетом пожеланий заказчика, которые четко планируются и выполняются).</li>
                    </ul>   
                    <p>Наши мастера постоянно совершенствуют свои навыки, поэтому поставленные задачи исполняют:</p>
                    <ul>
                    <li>максимально быстро (ускорение процесса достигается за счет автоматизированной подачи штукатурной смеси, а также правильному распределению обязанностей в команде);</li>
                    <li>гарантированно качественно (репутация компании <b class="name_company">«СФЕРА БУД»</b> в ремонтно-строительной отрасли сформировалась благодаря высококвалифицированным сотрудникам и безоговорочно ответственному отношению к работе);</li>
                    <li>комплексно (заказы могут выполняться по принципу «под ключ», а наши специалисты готовы предоставить широкий спектр ремонтно-отделочных работ – штукатурка стен, потолка, откосов, стяжка пола, малярные услуги и пр.).</li>
                    </ul>
                    
            </li>
        </ul>
        <div class="reference">
        <p class="reference__description">Отличительной чертой наших работников также является аккуратность и внимательность к деталям. В обязательном порядке перед сдачей объекта производится уборка помещения от строительного мусора. Чистота и порядок поддерживается также и во время проведения работ.</p>
        </div>
    </div>
</section>