<section class="services-and-prices">
    <div class="container">
      <h1 class="services-and-prices__title" id="price">Услуги и цены</h1>
        <ul class="services-and-prices__list">
            <li class="services-and-prices__list-item">
              <div class="services-and-prices__img-wrapper">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./images/price/desktop/img1@1x.webp 1x,
                      ./images/price/desktop/img1@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                      ./images/price/desktop/img1@1x.jpg 1x,
                      ./images/price/desktop/img1@2x.jpg 2x
                      "
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./images/price/tablet/img1@1x.webp 1x,
                      ./images/price/tablet/img1@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      ./images/price/tablet/img1@1x.jpg 1x,
                      ./images/price/tablet/img1@2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                      ./images/price/mobile/img1@1x.webp 1x,
                      ./images/price/mobile/img1@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(max-width: 768px)"
                      srcset="
                      ./images/price/mobile/img1@1x.jpg 1x,
                      ./images/price/mobile/img1@2x.jpg 2x
                      "
                    />
                    <img class="services-and-prices__list-item-img" loading="lazy" src="" alt="Гипсовая машинная штукатурка стен" />
                  </picture>
                </div>
                  <div class="services-and-prices__list-item-wrapper">
                  <p class="services-and-prices__list-item-deskription">
                    Гипсовая машинная штукатурка стен 
                  </p>
                  <p class="services-and-prices__list-item-cost">от 150 грн за м.кв.</p>
                </div>
              
            </li>
            <li class="services-and-prices__list-item">
              <div class="services-and-prices__img-wrapper">
              <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./images/price/desktop/img2@1x.webp 1x,
                    ./images/price/desktop/img2@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                    ./images/price/desktop/img2@1x.jpg 1x,
                    ./images/price/desktop/img2@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./images/price/tablet/img2@1x.webp 1x,
                    ./images/price/tablet/img2@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="
                    ./images/price/tablet/img2@1x.jpg 1x,
                    ./images/price/tablet/img2@2x.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 768px)"
                    srcset="
                    ./images/price/mobile/img2@1x.webp 1x,
                    ./images/price/mobile/img2@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 768px)"
                    srcset="
                    ./images/price/mobile/img2@1x.jpg 1x,
                    ./images/price/mobile/img2@2x.jpg 2x
                    "
                  />
                  <img class="services-and-prices__list-item-img" loading="lazy" src="" alt="Гипсовая машинная штукатурка потолков" />
                </picture>
              </div>
                <div class="services-and-prices__list-item-wrapper">
                <p class="services-and-prices__list-item-deskription">
                  Гипсовая машинная штукатурка потолков 
                </p>
                <p class="services-and-prices__list-item-cost">от 200 грн за м.кв.</p>
              </div>
            
          </li>
          <li class="services-and-prices__list-item">
            <div class="services-and-prices__img-wrapper">
            <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  ./images/price/desktop/img3@1x.webp 1x,
                  ./images/price/desktop/img3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                  ./images/price/desktop/img3@1x.jpg 1x,
                  ./images/price/desktop/img3@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                  ./images/price/tablet/img3@1x.webp 1x,
                  ./images/price/tablet/img3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                  ./images/price/tablet/img3@1x.jpg 1x,
                  ./images/price/tablet/img3@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 768px)"
                  srcset="
                  ./images/price/mobile/img3@1x.webp 1x,
                  ./images/price/mobile/img3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 768px)"
                  srcset="
                  ./images/price/mobile/img3@1x.jpg 1x,
                  ./images/price/mobile/img3@2x.jpg 2x
                  "
                />
                <img class="services-and-prices__list-item-img" loading="lazy" src="" alt="Цементная машинная штукатурка стен (внутренние работы)" />
              </picture>
            </div>
              <div class="services-and-prices__list-item-wrapper">
              <p class="services-and-prices__list-item-deskription">
                Цементная машинная штукатурка стен (внутренние работы)
              </p>
              <p class="services-and-prices__list-item-cost">от 150 грн за м.кв.</p>
            </div>
          
        </li>
        <li class="services-and-prices__list-item">
          <div class="services-and-prices__img-wrapper">
          <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/price/desktop/img4@1x.webp 1x,
                ./images/price/desktop/img4@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/price/desktop/img4@1x.jpg 1x,
                ./images/price/desktop/img4@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/price/tablet/img4@1x.webp 1x,
                ./images/price/tablet/img4@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/price/tablet/img4@1x.jpg 1x,
                ./images/price/tablet/img4@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/price/mobile/img4@1x.webp 1x,
                ./images/price/mobile/img4@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/price/mobile/img4@1x.jpg 1x,
                ./images/price/mobile/img4@2x.jpg 2x
                "
              />
              <img class="services-and-prices__list-item-img" loading="lazy" src="" alt="Цементная машинная штукатурка фасада (наружная отделка)" />
            </picture>
          </div>
            <div class="services-and-prices__list-item-wrapper">
            <p class="services-and-prices__list-item-deskription">
              Цементная машинная штукатурка фасада (наружная отделка)
            </p>
            <p class="services-and-prices__list-item-cost">от 180 грн за м.кв.</p>
          </div>
        
      </li>
      <li class="services-and-prices__list-item">
        <div class="services-and-prices__img-wrapper">
        <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
              ./images/price/desktop/img5@1x.webp 1x,
              ./images/price/desktop/img5@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
              ./images/price/desktop/img5@1x.jpg 1x,
              ./images/price/desktop/img5@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/price/tablet/img5@1x.webp 1x,
              ./images/price/tablet/img5@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/price/tablet/img5@1x.jpg 1x,
              ./images/price/tablet/img5@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ./images/price/mobile/img5@1x.webp 1x,
              ./images/price/mobile/img5@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ./images/price/mobile/img5@1x.jpg 1x,
              ./images/price/mobile/img5@2x.jpg 2x
              "
            />
            <img class="services-and-prices__list-item-img" loading="lazy" src="" alt="Стяжка пола" />
          </picture>
        </div>
          <div class="services-and-prices__list-item-wrapper">
          <p class="services-and-prices__list-item-deskription">
            Стяжка пола
          </p>
          <p class="services-and-prices__list-item-cost">от 200 грн за м.кв.</p>
        </div>
        
    </li>
    <li class="services-and-prices__list-item">
      <div class="services-and-prices__img-wrapper">
      <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
            ./images/price/desktop/img6@1x.webp 1x,
            ./images/price/desktop/img6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
            ./images/price/desktop/img6@1x.jpg 1x,
            ./images/price/desktop/img6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ./images/price/tablet/img6@1x.webp 1x,
            ./images/price/tablet/img6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ./images/price/tablet/img6@1x.jpg 1x,
            ./images/price/tablet/img6@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
            ./images/price/mobile/img6@1x.webp 1x,
            ./images/price/mobile/img6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
            ./images/price/mobile/img6@1x.jpg 1x,
            ./images/price/mobile/img6@2x.jpg 2x
            "
          />
          <img class="services-and-prices__list-item-img" loading="lazy" src="" alt="Подготовительные работы" />
        </picture>
      </div>
        <div class="services-and-prices__list-item-wrapper">
        <p class="services-and-prices__list-item-deskription">
          Подготовительные работы
        </p>
        <p class="services-and-prices__list-item-cost">от 150 грн за м.кв.</p>
      </div>
    
  </li>
        </ul>
    </div>
</section>