<section class="work">
    <div class="container">
        <h1 class="work__title">Cхема работы</h1>
        <div class="work__list">
            <div class="work__item">
                <div class="work__img-wrapper">
                    
                        <img class="scheme-of-work__list-item-img" loading="lazy" src="./images/scheme-of-work/mobile/work1.svg" alt="Выезд замерщика" />
                      
                </div>
                <div class="work__item-description-wrapper">
                    <p class="work__item-description">Выезд замерщика</p>
                </div>
            </div>
            <div class="work__item">
                <div class="work__img-arrow-wrapper">
                    <picture>
                        
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/tablet/arrow@2x.jpg 2x
                          "
                        />
                        
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow.png 1x
                          "
                        />
                        
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/mobile/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/mobile/arrow@2x.jpg 2x
                          "
                        />
                        <img class="scheme-of-work__list-arrow-item-img" loading="lazy" src="" alt="Следующий этап" />
                      </picture>
                </div>
            </div>

            <div class="work__item">
                <div class="work__img-wrapper">
                    
                        <img class="scheme-of-work__list-item-img" loading="lazy" src="./images/scheme-of-work/mobile/work2.svg" alt="Составление сметы" />
                      
                </div>
                <div class="work__item-description-wrapper">
                    <p class="work__item-description">Заполнение сметы</p>
                </div>
            </div>

            <div class="work__item">
                <div class="work__img-arrow-wrapper">
                    <picture>
                        
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/tablet/arrow@2x.jpg 2x
                          "
                        />
                        
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow.png 1x
                          "
                        />
                        
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/mobile/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/mobile/arrow@2x.jpg 2x
                          "
                        />
                        <img class="scheme-of-work__list-arrow-item-img" loading="lazy" src="" alt="Следующий этап" />
                      </picture>
                </div>
            </div>
            <div class="work__item">
                <div class="work__img-wrapper">
                    
                        <img class="scheme-of-work__list-item-img" loading="lazy" src="./images/scheme-of-work/mobile/work3.svg" alt="Доставка материалов" />
                      
                </div>
                <div class="work__item-description-wrapper">
                    <p class="work__item-description">Доставка материалов</p>
                </div>
            </div>
            <div class="work__item">
                <div class="work__img-arrow-wrapper">
                    <picture>
                        
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/tablet/arrow@2x.jpg 2x
                          "
                        />
                        
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow.png 1x
                          "
                        />
                        
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/mobile/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/mobile/arrow@2x.jpg 2x
                          "
                        />
                        <img class="scheme-of-work__list-arrow-item-img" loading="lazy" src="" alt="Следующий этап" />
                      </picture>
                </div>
            </div>
            <div class="work__item">
                <div class="work__img-wrapper">
                    
                        <img class="scheme-of-work__list-item-img" loading="lazy" src="./images/scheme-of-work/mobile/work4.svg" alt="Выполнение работ" />
                      
                </div>
                <div class="work__item-description-wrapper">
                    <p class="work__item-description">Выполнение работ</p>
                </div>
            </div>
            <div class="work__item">
                <div class="work__img-arrow-wrapper">
                    <picture>
                        
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/tablet/arrow@2x.jpg 2x
                          "
                        />
                        
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/tablet/arrow.png 1x
                          "
                        />
                        
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/scheme-of-work/mobile/arrow@1x.jpg 1x,
                          ./images/scheme-of-work/mobile/arrow@2x.jpg 2x
                          "
                        />
                        <img class="scheme-of-work__list-arrow-item-img" loading="lazy" src="" alt="Следующий этап" />
                      </picture>
                </div>
            </div>
            <div class="work__item">
                <div class="work__img-wrapper">
                    
                        <img class="scheme-of-work__list-item-img" loading="lazy" src="./images/scheme-of-work/mobile/work5.svg" alt="Сдача работ заказчику" />
                      
                </div>
                <div class="work__item-description-wrapper">
                    <p class="work__item-description">Сдача работ заказчику</p>
                </div>
            </div>
        </div>
    </div>
</section>