<!-- types-of-machine-plaster -->
<section class="types-of-machine-plaster">
    <div class="container">
        <h1 class="types-of-machine-plaster__title title">
            Виды машинной штукатурки, которые мы выполняем
        </h1>
        <ul class="types-of-machine-plaster__list">
            <li class="types-of-machine-plaster__list-item">
                <div class="img-wrapper">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./images/types-of-machine-plaster/desctop/img1@1x.webp 1x,
                            ./images/types-of-machine-plaster/desctop/img1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./images/types-of-machine-plaster/desctop/img1@1x.jpg 1x,
                            ./images/types-of-machine-plaster/desctop/img1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/tablet/img1@1x.webp 1x,
                            ./images/types-of-machine-plaster/tablet/img1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/tablet/img1@1x.jpg 1x,
                            ./images/types-of-machine-plaster/tablet/img1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/mobile/img1@1x.webp 1x,
                            ./images/types-of-machine-plaster/mobile/img1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/mobile/img1@1x.jpg 1x,
                            ./images/types-of-machine-plaster/mobile/img1@2x.jpg 2x
                          "
                        />
                        <img class="gallery__list-item-img" loading="lazy" src="#" alt="Гипсовая штукатурка" />
                      </picture>
                </div>
                <p class="types-of-machine-plaster__list-item-description">
                    Гипсовая штукатурка (под дальнейшую отделку различными материалами – обои, краска, декоративные элементы и пр.)
                </p>
            </li>
            <li class="types-of-machine-plaster__list-item">
                <div class="img-wrapper">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./images/types-of-machine-plaster/desctop/img2@1x.webp 1x,
                            ./images/types-of-machine-plaster/desctop/img2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                            ./images/types-of-machine-plaster/desctop/img2@1x.jpg 1x,
                            ./images/types-of-machine-plaster/desctop/img2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/tablet/img2@1x.webp 1x,
                            ./images/types-of-machine-plaster/tablet/img2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/tablet/img2@1x.jpg 1x,
                            ./images/types-of-machine-plaster/tablet/img2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/mobile/img2@1x.webp 1x,
                            ./images/types-of-machine-plaster/mobile/img2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                            ./images/types-of-machine-plaster/mobile/img2@1x.jpg 1x,
                            ./images/types-of-machine-plaster/mobile/img2@2x.jpg 2x
                          "
                        />
                        <img class="gallery__list-item-img" loading="lazy" src="#" alt="Цементная штукатурка" />
                      </picture>
                </div>
                <p class="types-of-machine-plaster__list-item-description">
                    Цементная штукатурка внутри помещения (подготовка поверхностей под кафель, плитку или дальнейшую отделку)<br/>
                    Цементная штукатурка наружных стен (утепление или отделка фасада)
                </p>
            </li>
        </ul>
        <div class="reference">
            <p class="reference__description">
                Штукатурная станция позволяет значительно ускорить и облегчить наружные отделочные работы. С помощью
                10-метрового шланга раствор моментально и без лишних хлопот подается на рабочую поверхность. А возможность машинной установки использовать воду для приготовления отделочной смели из специальной емкости (бочки), автоматически решает вопрос ее удобного использования на объектах, где нет центрального водоснабжения.
            </p>
        </div>
    </div>
</section>