
<section class="what-do-we-offer">
    <div class="container">
        <h1 class="what-do-we-offer__title title">Что мы предлагаем</h1>
        <ul class="what-do-we-offer__list list">
            <li class="what-do-we-offer__list-item ">
                <div class="what-do-we-offer__list-item-description-wrapper icon1">
                    <p class="what-do-we-offer__list-item-description-title">Широкий спектр услуг</p>
                    <p class="what-do-we-offer__list-item-description">Современная мощная штукатурная станция позволяет выполнять все виды отделочных работ с использованием разнообразных растворов</p>
                </div>
            </li>
            <li class="what-do-we-offer__list-item ">
                <div class="what-do-we-offer__list-item-description-wrapper icon2">
                    <p class="what-do-we-offer__list-item-description-title">Отменный результат</p>
                    <p class="what-do-we-offer__list-item-description">Опытные работники, профессиональное оборудование и высококачественные материалы позволяют добиться наилучшего результата за более короткий срок и приемлемую стоимость</p>
                </div>
            </li>
            <li class="what-do-we-offer__list-item ">
                <div class="what-do-we-offer__list-item-description-wrapper icon3">
                    <p class="what-do-we-offer__list-item-description-title">Клиентоориентированность</p>
                    <p class="what-do-we-offer__list-item-description">Сроки выполнения работ, форма оплаты, составление договора и прочие вопросы обсуждаются в индивидуальном порядке в зависимости от пожеланий заказчика</p>
                </div>
            </li>
            <li class="what-do-we-offer__list-item ">
                <div class="what-do-we-offer__list-item-description-wrapper icon4">
                    <p class="what-do-we-offer__list-item-description-title">Помощь на любом этапе</p>
                    <p class="what-do-we-offer__list-item-description">Мы можем предоставить консультацию квалифицированных мастеров, помочь в выборе подходящих материалов и их доставке, выполнить работы любой сложности с гарантией качества</p>
                </div>
            </li>
        </ul>
    </div>
</section>