.reviews {
  padding-top: 40px;
  padding-bottom: 100px;
}
.reviews__title {
  @include font(24px, 700, 28px);
  text-align: center;
  color: #45464b;
  margin-bottom: 50px;
}
.reviews__list-item-img {
  display: block;
}

.reviews__foto-wrapper {
  position: relative;
}
.reviews__foto-and-name {
  padding-top: 48px;
  padding-bottom: 20px;
  border-left: 2px solid #96bee4;
  border-right: 2px solid #96bee4;
  padding-left: 11px;
}
.reviews__name {
  @include font(18px, 700, 21px);
  margin-bottom: 7px;
}
.reviews__type-work {
  @include font(16px, 400, 19px);
  color: #717171;
}
.reviews__list-item-foto {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -125%);
  border-radius: 10px;
}

.reviews__review-wrapper {
  border-left: 2px solid #96bee4;
  border-right: 2px solid #96bee4;
  border-bottom: 2px solid #96bee4;
  border-end-start-radius: 9px;
  border-end-end-radius: 9px;
  padding: 0 11px 42px 11px;
}
.reviews__review {
  @include font(14px, 300, 19px);
}

.reviews__list {
  position: relative;
}
.reviews__list .slick-arrow {
  position: absolute;
  top: 100%;
  z-index: 10;
}

.reviews__list .slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.reviews__list .slick-track {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.reviews__list .slick-arrow.slick-prev {
  display: none !important;
}
.reviews__list .slick-arrow.slick-next {
  background-image: url(../images/gallery/mobile/arrow_right.svg);
  background-repeat: no-repeat;
  height: 26px;
  width: 77px;
  font-size: 0;
  top: 105%;
  right: 0;
}

@media screen and(min-width:768px) {
  .reviews__title {
    @include font(36px, 700, 42px);
    margin-bottom: 60px;
  }

  .reviews__list .slick-slide {
    display: flex;
    justify-content: center;
  }
  .reviews__list-item {
    display: flex;
  }
  .reviews__list-item-foto {
    position: static;
    left: 0%;
    transform: translate(0%, 0%);
  }

  .reviews__foto-and-name {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 20px;
    border-left: none;
    border-right: none;
    padding-left: 27px;
  }
  .reviews__review-wrapper {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    padding: 0 25px 37px 22px;
  }
  .reviews__name-type-work-wrapper {
    padding-left: 10px;
  }
  .reviews__description {
    border-top: 2px solid #96bee4;
    border-right: 2px solid #96bee4;
    border-bottom: 2px solid #96bee4;
    border-start-end-radius: 9px;
    border-end-end-radius: 9px;
  }
  .reviews__name {
    @include font(20px, 700, 23px);
    margin-bottom: 7px;
  }
  .reviews__review {
    @include font(16px, 300, 21px);
  }
  .reviews__list .slick-arrow.slick-next {
    background-image: url(../images/gallery/tablet/arrow_right.svg);
    background-repeat: no-repeat;
    height: 26px;
    width: 141px;
  }
}
@media screen and(min-width: 1440px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .reviews__title {
    @include font(48px, 700, 56px);
    margin-bottom: 80px;
  }
  .reviews__list-item {
    width: 1000px;
    margin: 0 auto;
  }
  .reviews__name {
    @include font(20px, 700, 23px);
  }
}
