.work {
  padding-bottom: 40px;
}
.work__title {
  @include font(24px, 700, 28px);
  text-align: center;
  color: #45464b;
  margin-bottom: 60px;
}
.work__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > :last-child {
    margin-bottom: 0;
  }
}

.work__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
}

.work__item-description {
  @include font(18px, 700, 21px);
  color: #333333;
}

.work__img-wrapper {
  padding: 28px;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  margin-bottom: 11px;
}

@media screen and (min-width: 768px) {
  .work__title {
    @include font(36px, 700, 42px);
    margin-bottom: 80px;
  }
  .work .slick-list {
    padding: 40px;
    padding-right: 60px;
  }
  .work .slick-list.draggable {
    margin-left: -20px;
  }
  .work .slick-track {
    display: flex;
    align-items: center;
  }
  .work__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .work__img-wrapper {
    width: 122px;
    height: 122px;
    padding: 28px;
  }
  .scheme-of-work__list-item-img {
    width: 66px;
    height: 68px;
  }
  .scheme-of-work__list-arrow-item-img {
    display: block;
    width: 69px;
    transform: translate(10%, -50%);
    margin: 0 auto;
  }
  .work__item {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work__item-description-wrapper {
    display: flex;
    text-align: center;
    width: 100%;
  }
  .work__item-description {
    display: block;
    width: 100%;
  }
}
@media screen and(min-width: 1440px) {
  .work__title {
    @include font(48px, 700, 56px);
    margin-bottom: 100px;
  }
}
